<article class="box is-dark my-2">
  <div class="title">
    <a href="/{{username}}">{{username}} </a>
    <span>(www.github.com/{{username}})</span>
  </div>
  <p class="content">contact: {{email}}
  </p>
</article>