<article class="post">
  <div class="title">
    <a href="/{{username}}">{{username}} </a>
    <span>(www.github.com/{{username}})</span>
  </div>
  <div class="meta">
    contact: {{email}}
  </div>
</article>