<section>

  <h2 class="has-text-weight-bold is-size-4">Update your info</h2>


  <form class="new-post-form">
    <div>
      <label for="bio">Bio</label>
      <textarea rows="10" cols="50" id="bio-form" name="bio">{{userInfo.[0].bio}}</textarea>
    </div>
    <div>
      <label for="social">Social Link</label>
      <input id="social-url" name="social" value="{{userInfo.[0].social}}"/>
    </div>

    <button id="update type="submit" class="btn, button is-warning is-rounded">Update</button>


  </form>
</section>

<section>
  <h2>Current Pinned Repos</h2>
<ul class="post-list">
  {{#each project.repos as |repo|}}
  <li>
    {{> user-info user }}
  </li>
  {{/each}}
</ul>
</section>

{{!-- {{#if projects.length}}
<section>
  <h2 class="has-text-weight-bold is-size-4">Your Projects</h2>
  <ol>
    {{#each projects as |project|}}
    <li>
      {{> post-info project}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}} --}}

<script src="/javascript/dashboard.js"></script>