<section>
  <h2>Update your info</h2>

  <form class="new-post-form">
    <div>
      <label for="bio">Bio</label>
      <textarea rows="10" cols="50" id="post-title" name="bio">{{bio}}</textarea>
    </div>
    <div>
      <label for="social">Social</label>
      <input id="post-url" name="social" />
    </div>
    <button type="submit" class="btn">Update</button>
  </form>
</section>

{{!-- {{#if projects.length}}
<section>
  <h2>Your Projects</h2>
  <ol>
    {{#each projects as |project|}}
    <li>
      {{> post-info project}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}} --}}

<script src="/javascript/dashboard.js"></script>