<h2>{{projects.owner}}</h2>
<ol class="post-list">
  <img src="https://via.placeholder.com/150" alt="profile-img">
  {{#each projects as |project|}}
  <li>
    {{> project-info project }}
  </li>
  {{/each}}
</ol>